<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Lendiel_Core::core" title="Lendiel" module="Lendiel_Core" sortOrder="1000000" translate="title"
             resource="Lendiel_Core::core"/>
    </menu>
</config>
